.background-color {
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.myPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 300px;
  padding-bottom: 2em;
}

.nameAndLinks {
  background-color: black;
  opacity: 0.8;
  width: auto;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}

.nameAndLinks h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.nameAndLinks hr {
  border-style: 5px white;
  width: 75%;
  margin: auto;
}

.nameAndLinks p {
  color: white;
  font-size: 20px;
  padding: 0em;
  text-align: center;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.about-main {
  text-align: center;
  justify-content: center;
  background-color: white;
  padding: 1em;
}

.contact-list hr {
  border-style: 10px black;
  width: 50%;
  margin: auto;
}

.phone-icon {
  text-align: center;
  justify-content: center;
  display: block;
  width: 50%;
  margin: auto;
}

.phone-icon i {
  padding-left: 3em;
  color: rgb(29, 26, 26);
  font-size: 3em;
  padding-right: 1em;
}

.email-icon {
  text-align: center;
  justify-content: center;
  display: block;
  width: 50%;
  margin: auto;
}

.email-icon i {
  padding-left: 3em;
  color: rgb(29, 26, 26);
  font-size: 3em;
  padding-right: 1em;
}

.education {
  text-align: center;
  padding: 1em;
}

.languages-list h1 {
  text-align: center;
}

.experience {
  margin: auto;
  padding: 1em;
}

.experience h1 {
  text-align: center;
}

.technologies {
  padding: 1em;
}

.technologies h1 {
  text-align: center;
}

.tech-stack-body {
  text-align: center;
}

.high-school-body {
  text-align: center;
}

.ieee-body {
  text-align: center;
}
